{% extends "base.html" %}
{% from "macros/macro_manager_user.html" import password_input %}

{% block title %}{{ name }}{% endblock %}

{#样式#}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='efun/css/change_password.css') }}">
{% endblock %}

{#正文内容#}
{% block page_content %}
    <div class="c_backgroud">
        <div class="b_title">重置密码</div>
        {{ password_input("旧密码", password, "old_password") }}
        {{ password_input("新密码", password, "new_password") }}
        {{ password_input("再次输入", password, "second_password") }}
        <button type="button" class="btn btn-primary btn-block">修改密码</button>
    </div>
{% endblock %}


{% block javascript %}
    <script src="{{ url_for('static', filename='efun/js/change_password.js') }}"></script>
{% endblock %}
